@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
  margin: 0;
  font-family: 'Lora', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Lora', serif;
}

code {
  font-family: 'Lora', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}
