.wist-item-card {
  margin-top: 20px;
  -webkit-box-shadow: -9px 9px 22px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: -9px 9px 22px -10px rgba(0, 0, 0, 1);
  box-shadow: -9px 9px 22px -10px rgba(0, 0, 0, 1);
  height: 450px;
  width: 80%;
  margin: 30px;
}

.image {
  height: 330px;
}

.wist-item-header {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.wist-item-subtitle {
  text-align: center;
}

.wist-item-link {
  font-size: 18px;
  text-align: center;
  color: #8787d6;
  display: inline-block;
}

.wist-item-link:hover {
  text-decoration: none;
  color: #4f4fa0;
}

.wist-item-container {
  position: relative;
}

.wist-item-card {
  display: block;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: grey;
  overflow: hidden;
  width: 80%;
  height: 0;
  transition: .5s ease;
  margin-left: 30px;
  opacity: 80%;
}

.wist-item-container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.procons {
  color: white;
  margin-top: 15px;
  width: 95%
}







